buildozer==1.5.0
certifi==2024.2.2
charset-normalizer==3.3.2
Cython==3.0.10
distlib==0.3.8
docutils==0.21.2
filelock==3.14.0
idna==3.7
Kivy==2.3.0
Kivy-Garden==0.1.5
pexpect==4.9.0
platformdirs==4.2.2
ptyprocess==0.7.0
Pygments==2.18.0
requests==2.32.2
sh==2.0.6
urllib3==2.2.1
virtualenv==20.26.2
